<% include ./partials/header %>    
    <p>Kevin Lee</p>

    <div id="grid">
        <a href=""><img src="/resources/placeholder.png"></a>
        <a href=""><img src="/resources/placeholder.png"></a>
        <a href=""><img src="/resources/placeholder.png"></a>
        <a href=""><img src="/resources/placeholder.png"></a>
        <a href=""><img src="/resources/placeholder.png"></a>
        <a href=""><img src="/resources/placeholder.png"></a>
        <a href=""><img src="/resources/placeholder.png"></a>
        <a href=""><img src="/resources/placeholder.png"></a>
        <a href=""><img src="/resources/placeholder.png"></a>
    </div>
<% include ./partials/footer %>